<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <title>PDV — Frente de Caixa</title>
    <meta name="description" content="Sistema PDV — Ponto de Venda" />

    <!-- Radzen CSS -->
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css" />

    <!-- Tema PDV -->
    <link rel="stylesheet" href="css/pdv-theme.css" />

    <!-- Blazor scoped CSS -->
    <link rel="stylesheet" href="Sis.Pdv.Blazor.styles.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- Radzen JS -->
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="js/keyboard-events.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
